* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.navbar-brand {
    margin-left: 20px;
    text-decoration: none;
}

.navbar-brand h1:hover {
    color: white;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

h2 {
    font-weight: bold;
}

nav.navbar {
    background-color: black;
}

.container-fluid a {
    color: white;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
    font-size: 1.5rem;
}

.nav-link {
    margin-left: 20px;
    transition: transform 0.25s, color 0.25s, box-shadow 0.25s;
    padding: 0;

}


.nav-link:hover {
    color: rgb(239, 80, 80);
    transform: translateY(-0.25em);
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(239, 80, 80);
}

.grid1 {
    padding: 0;
    min-height: calc(100vh - 110.8px - 96px);
    width: 100%;
}

.grid1 .welcome {
    font-size: 1.8rem;
    padding-top: 100px;
}

.grid1 h1 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, silver, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 12s linear infinite;
}

img {
    padding: 0;
    width: 100%;
}

.candid-img {
    width: 100%;
}

.about-img {
    padding: 0;
    align-items: center;
}

#about p {
    font-size: 1.3rem;
}

.grid3 .source {
    color: black;
}

.grid4 {
    position: relative;
    margin: 0;
    margin-top: 48px;
    padding: 0;
}

.grid4 h2,
label {
    color: white;
}

.grid4 video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.grid4 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#thankyou {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-style: bold;
    color: white;
    border-radius: 20px;
    border: solid 5px rgb(82, 243, 8);
    background-color: rgb(82, 243, 8);
}

footer.navbar {
    background-color: black;
    padding-bottom: 0;
}

footer.navbar>.container-fluid {
    justify-content: space-evenly;
}

footer p {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
}

.back-top {
    color: rgb(239, 80, 80);
}

footer .icon:hover {
    color: rgb(0, 0, 255);
}

footer p span {
    color: rgb(239, 80, 80);
}

@media (min-width: 768px) {
    nav.navbar {
        height: 80px;
    }

    .grid1 {
        display: flex;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid1 .welcome {
        padding: 0;
        padding-left: 30px;
    }

    .grid1 h1 {
        animation: shine-big 12s linear infinite;
    }

    .grid4 h2 {
        text-align: center;
    }
}

@media (max-width:767px) {
    .navbar-nav {
        display: inline-block;
    }

    h2 {
        text-align: center;
    }

    .welcome {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("candid.JPG");
        background-size: cover;
        color: white;
    }

}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    50% {
        background-position-x: 500%;
    }

    100% {
        -webkit-text-fill-color: white;
    }
}

@keyframes shine-big {
    0% {
        background-position-x: -500%;
    }

    50% {
        background-position-x: 500%;
    }

    100% {
        -webkit-text-fill-color: black;
    }
}